.register {
  color: $text-color;
  padding: 5rem 4rem;

  &-form {
    &_title {
      h3 {
        display: none;
      }
      p {
        color: #fff;
        font-family: "Montserrat";
        font-size: 12px;

        span {
          margin-left: 10px;
        }
      }
      h2 {
        color: #fff;
        font-family: "Montserrat";
        font-size: 20px;
        margin-top: 1rem;
      }
    }
    &_control {
      align-items: flex-start;
      font-family: "Montserrat";
      .custom-input {
        width: 100%;
      }
      textarea {
        width: 100%;
      }

      .form-select {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 1rem;
      }
      & > p {
        text-align: center;
        color: #ff26b9;
        font-size: 9px;
        font-style: italic;
        width: fit-content;
        margin: auto;
      }

      .checkbox {
        @include flex-center;
        gap: 10px;
        color: #fff;
        font-family: "Montserrat";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  &-img {
    img {
      width: 100%;
      margin: auto;
    }
  }
}

@include media-md {
  .register {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    .contact-form {
      display: block;

      &_control {
        display: grid;
        grid-template-columns: auto auto;

        .form-select {
          width: 100%;
          grid-column: 1 / span 2;
        }
        & > p {
          grid-column: 1 / span 2;
          text-align: left;
        }

        .checkbox {
          grid-column: 1 / span 2;
          justify-content: start;
        }
      }

      .btn {
        width: 100%;
        margin-top: 1rem;
      }
    }

    &-form {
      width: 60%;
      &_title {
        margin-bottom: 1rem;
        h3 {
          display: block;
          text-align: left;
          margin-bottom: 2rem;
          color: #d434fe;
          font-size: 32px;
          font-weight: 600;
        }
      }
    }
    &-img {
      width: 40%;
    }
  }
}
