.register {
  color: $text-color;
  padding: 5rem 4rem;

  &-form {
    &_title {
      p {
        color: #fff;
        font-family: "Montserrat";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      h2 {
        color: #fff;
        font-family: "Montserrat";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    &_control {
      align-items: flex-start;
      font-family: "Montserrat";
      .custom-input {
        width: 100%;
      }
      textarea {
        width: 100%;
      }

      .form-select {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 1rem;
      }
      & > p {
        text-align: center;
        color: #ff26b9;
        font-size: 9px;
        font-style: italic;
        width: fit-content;
        margin: auto;
      }

      .checkbox {
        @include flex-center;
        gap: 10px;
        color: #fff;
        font-family: "Montserrat";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  &-img {
    img {
      width: 100%;
      margin: auto;
    }
  }
}
