.contact {
  color: $text-color;
  padding: 5rem 4rem;

  &-details {
    display: none;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    &_title {
      margin: 1rem 0;
      color: $color-4;
      h2 {
        color: #d434fe;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      p {
        font-family: "Montserrat";
        font-size: 12px;
        color: $text-color;
        margin-top: 1rem;
      }
    }
    &_control {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
  .social {
    margin: 2rem auto 1rem;
    text-align: center;
    p {
      font-size: 12px;
      color: $color-4;
      margin-bottom: 0.6rem;
    }
  }
}

@include media-md {
  .contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 6rem 7rem;
    &-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 2rem;
      padding-left: 5rem;
      width: 50%;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 21px;
        height: 25px;
        background: url("/src/assets/images/sata\ gra.svg");
        top: -4rem;
        left: 6rem;
      }
      &::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 36px;
        background: url("/src/assets/images/star\ pu.svg");
        bottom: 0;
        right: 0;
      }

      h2 {
        color: #d434fe;
        font-family: ClashDisplay;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 2rem;
      }
      p {
        color: #fff;
        font-family: "Montserrat";
        font-size: 16px;
      }

      .social {
        display: block !important;
      }
    }
    &-form {
      width: 50%;
      border-radius: 12px;
      background: rgba(255, 255, 255, 0.03);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding: 3rem 4rem;
    }
    .social {
      display: none;
      margin: 0;
      text-align: left;
    }
  }
}
